*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
    display: flex;
    background-color: #000000;
    padding: 10px 10%;
    align-items: center;
    justify-content: space-between;
}
.nav a{ 
    padding: 0 23px;
    color: #c6c6c6;
    text-decoration: none;
}
.logo img{
    width: 70%;
}
/* uno */
.uno{
    background:linear-gradient(170deg, #0c0c0c75 ), url(../assents/images/headerBg.png);
    width: 100%;
    padding: 130px 10%;
}
.init{
    width: 95%;
    display: flex;
    align-items: center;
}
.tex{
    width: 75%;
}
.tex img{
    margin-bottom: 25px;
    width: 29%;
    font-size: 130px;
    color: #FF8B38;
}
.trr{
    color: #ffffff;
    margin-bottom: 25px;
    width: 10%;
}
.tex h2{
    font-weight: lighter;
    margin-bottom: 25px;
    font-size: 32px;
    color: #ffffff;
    width: 81%;
}
.tex p{
    margin-bottom: 40px;
    width: 85%;
    font-size: 18px;
    color: #c6c6c6;
}
.butt{
    color: #ffffff;
    background-color: transparent;
    padding: 14px 45px;
    border: 2px solid #ffffff;
}
.car{
    background-color: #ffffff;
    width: 46%;
    border-radius: 7px;
    overflow: hidden;
}
.car h4 {
    background-color: #F5F5F5;
    font-size: 23px;
    padding: 19px;
    text-align: center;

}

.car .color {
    color: #FF8B38; 
    border: none;
}

.car input {
    width: 80%;
    padding: 10px 20px;
    margin-bottom: 43px;
    border: none;
    border-bottom: 1px solid #dede;
    font-size: 20px;
    margin: 22px 37px;
}
.car button {
    width: 100%;
    background-color: #FF9B51;
    color: white;
    padding: 17px;
    border: none;
    font-size: 19px;
}
/* dos */
.dos{
    background-color: #ffffff;
    padding: 19px 8px;
}
.segundo{
    gap: 95px;
    background-color: #ffffff;
    justify-content: space-between;
    padding: 0 7%;
    display: flex;
}
.segundo h5{
    font-size: 25px;
    margin-bottom: 8px;
}
.segundo p{
    font-size: 14px;
    color: #86878B;
    width: 100%;
}
.te{
    width: 47%;
}
.logoss{
    width: 81%;
    display: flex;
    justify-content: space-between;
}
.logoss img{
    width: 12%;
    height: 80%;
}
/* tres */
.tres{
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
    
}
.uy{
    padding: 10% 8% 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.tab{
    width: 10%;
    gap: 1px;
    display: flex;
    flex-wrap: wrap;
}
.colr{
    width: 100%;
    height: 120px;
    background-color: #FF8B38;
    border: none;
    color: #ffffff;
}
.gtyhd{
    border: none;
    width: 100%;
    height: 120px;
    background-color: #333333;
    color:#ffffff;
}
.tep h2{
    font-size: 22px;
    margin-bottom: 30px;
}
.tep{
    width: 45%;
}
.tep p{
    color: #97979b;
    font-size: 16px;
    margin-bottom: 30px;
}
.hgjk{
    width: 32%;
    background-color: #FF9B51;
    color: white;
    padding: 17px;
    border: none;
    font-size: 19px;
    border-radius: 3px;
}
.imghj{
    width: 30%;
    margin-top: 19px;
}
.imghj img{
    width: 100%;
}
/* cuarto */
.inver{
    display: flex;
    padding: 10% 7%;
    justify-content: space-between;
}
.oplk{
    width: 50%;
}


.yire{
    width: 45%;
    padding: 0 10px;
}
.yire h3{
    width: 50%;
    font-size: 24px;
    margin-bottom: 20px;
}
.ertw{
    color: #97979b;
    font-size: 16px;
    padding: 30px 0;
}
.color{
    width: 13%;
    border: 1.6px solid #FF8B38;
}
.gdhd{
    padding: 23px 0;
    justify-content: space-between;
    display: flex;
}
.iuy{
    width: 10%;
}
.iuy img{
    width: 100%;
}
.titl{
    width: 80%;
}
.titl p{
    color: #97979b;
}
.titl h6{
    font-size: 18px;    
}
/* quinto */
.riohjd{
    background-color: #F5F5F5;
    display: flex;
    padding: 10% 7%;
    justify-content: space-between;
}
.mnjh{
    width: 50%;
}
.mnjh h3{
    font-size: 30px;
    margin-bottom: 20px;
}
.mnjh p{
    font-size: 17px;
    margin-top: 40px;
}
.opl img{
    width: 100%;
}
.opl{
    width: 42%;
}
/* seis */
.divid{
    justify-items: center;
    padding: 30px 0 ;
}
.divid h2{
    font-family: auto;
    font-weight: 100;
    font-size: 35px;
    margin-bottom: 25px;
}
.divid p{
    font-size: 13px;
    margin-top: 28px;
}
.cartsd{
    display: flex;
    gap: 20px;
    text-align: center;
    padding: 4% 5% 7% 6%;
}
.tho{
    width: 100%;
}
.tho p{
    font-size: 14px;
    width: 92%;
}
.tho h3{
    font-size: 20px;
    padding: 23px 0 19px;
}
/* siete */
.pricing {
    padding: 90px 20px;
    text-align: center;
    background: #f5f5f5;
}
.pricing h2 {
    font-size: 28px;
    margin-bottom: 10px;
}
.pricing p {
    color: #86878b;
    margin-bottom: 80px;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card1,.card2 {
    background: #ffffff;
    width: 25%;
    overflow: hidden;
}
.card1 h3 , .card2 h3{
    background: #333333;
    color: #ffffff;
    padding: 15px;
    margin-bottom: 1px;
    font-family: 'Poppins', sans-serif;
}

.card1 h1{
    font-size: 50px;
    padding: 26px;
    color: #ffffff;
    background-color: #333333;
}
.card2 h4{
    font-size: 75px;
    padding: 26px;
    color: #ffffff;
    background-color: #333333;
}
.card1 p , .card2 p {
    margin: 0;
    color: #ADADAD;
    background-color: #333333;
    padding: 0 0 10px;
}
hr {
    border: none;
    border-top: 3px solid #f7941d;
    margin: 0;
}
.hhjjdhs{
    margin-bottom: 16px;
}
.card1{
    margin-top: 65px;
}
.pricing .card1 ul li {
    padding: 12px;
    border-top: 1px solid #dede;
    font-size: 14px;
    color: #86878b;
}
.card2 ul li{
    padding: 12px;
    border-top: 1px solid #dede;
    font-size: 14px;
    color: #86878b;
}
.popular .highlight {
    background: #FF8B38;
    color: #fff;
    padding: 10px;
    font-weight: bold;
}

/* ocho */
.ocho {
    padding: 60px 20px;
    text-align: center;
}
.ocho h2 {
    font-size: 28px;
    font-weight: 200;
    font-family: auto;
    margin-bottom: 10px;
}
.clor {
    width: 7%;
    border: 1.6px solid #FF8B38;
    margin: 16px auto;
}
.ocho p {
    color: #97979b;
    margin-bottom: 40px;
}
.fjehfwd {
    display: flex;
    justify-content: center;
    gap: 80px;
}
.un {
    width: 23%;
    display: flex;
    flex-direction: column;
}
.un .p {
    width: 100%;
    background-image: url("../assents/images/textBubble.png");
    padding: 8% 7% 10% 7%;  
    font-size: 14px;
    margin-bottom: 20px;
    text-align: left;
}   
.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
}
.perfil img {
    width: 27%;
    height: 92%;
    border-radius: 50%;
}
.perfil p {
    margin: 0;
    font-size: 12px;
    color: #97979b;
}
.perfil p strong {
    color: black;
    font-size: 18px;
}
/* nueve */
.nueve{
    width: 100%;
    color: #ffffff;
}
.fkfjo{
    background:linear-gradient(90deg, #0c0c0c75), url(../assents/images/bg2.png) no-repeat;
    padding: 50px;
    justify-items: center;
}
.fkfjo h2{
    font-size: 30px;
}
.fkfjo p{
    color: #8A8F8E;
    margin-bottom: 38px;
}
.colorr{
    width: 7%;
    border: 1.6px solid #ffffff;
    margin: 26px 0;
}
.kilj {
    display: flex;
    justify-content: center; 
}
.buttt{
    color: #ffffff;
    background-color: transparent;
    padding: 14px 45px;
    border: 2px solid #ffffff;
}
/* diez */
.diez {
    width: 88%;
    margin: 0 auto;
    padding: 60px 20px;
    text-align: center;
}
.ñploñ h2 {
    font-size: 28px;
    font-weight: 100;
}
.ñploñ p {
    color: #97979b;
    margin-bottom: 40px;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form input, form textarea {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
}
.left{
    width: 48%;
}
.right {
    width: 48%;
}
.opil {
    width: 13%;
    background-color: #FF9B51;
    color: white;
    padding: 11px;
    border: none;
    font-size: 16px;
    border-radius: 3px;
    margin-left: 43%;
}
/*footer*/
.idyd{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    background-color: black;
    color: #5E5E5E;
    padding: 14px;
}
.idyd img{
    padding: 15px;
}
/* INICIO DE RESPOSIVE */
@media (max-width: 1279px) {
    .nav a{
        padding: 0 13px;
    }
    header{
        padding: 10px 7%;
    }
    .uno{
        padding: 130px 7%;
    }
    .tex h2{
        font-size: 25px;
    }
    .tex p{
        font-size: 16px;
    }
    .car h4{
        font-size: 20px;
    }
    .car input{
        margin: 22px 27px;
    }
    .car input {
        margin: 12px 27px;
    }
    .car {
        width: 47%;
        height: 92vh;
    }
    .segundo p{
        font-size: 11px;
    }
    .logoss{
        width: 82%;
        margin-right: 33px;
    }
    .segundo{
        gap: 45px;
        padding: 0 7%;
    }
    .dos{
        padding: 12px 8px;
    }
    .tep{
        width: 58%;
    }
    .colr{
        height: 34%;
    }
    .gtyhd{
        height: 34%;
    }
    .tab{
        width: 15%;
    }
    .uy{
        gap: 71px ;
    }
    .tep h2{
        font-size: 21px;
        margin-bottom: 44px;
    }
    .tep p{
        height: 86px;
        font-size: 14px;
        margin-bottom: 17px;
    }
    .imghj{
        width: 34%;
    }
    .imghj img{
        margin-top: 40px;
    }
    .oplk img{
        width: 90%;
        margin-top: 20px;
    }
    .yire h3{
        font-size: 21px;
        margin-bottom: 14px;
    }
    .ertw{
        font-size: 14px;
        padding: 20px 0 0;
    }
    .titl p{
        font-size: 11px;
    }
    .gdhd{
        padding: 19px 0;
    }
    .mnjh{
        width: 46%;
    }
    .mnjh h3{
        font-size: 20px;
    }
    .mnjh p{
        font-size: 12px;
        margin-top: 27px;
    }
    .cartsd{
        gap: 0;
        padding: 4% 5% 7% 7%;
    }
    .tho p{
        font-size: 11px;
        width: 96%;
    }
    .opil{
        width: 17%;
    }
}
@media (max-width: 920px){
    .nav a{
        padding: 0 6px;
    }
    .tex h2{
        font-size: 19px;
    }
    .tex p{
        font-size: 13px;
    }
    .car h4{
        font-size: 16px;
    }
    .car input{
        margin: 8px 27px;
    }
    .car{
        width: 53%;
        height: 84vh;
        margin-top: 18px;
    }
    .segundo h5{
        font-size: 20px;
    }
    .segundo p{
        font-size: 9px;
    }
    .tab{
        width: 14%;
    }
    .uy{
        gap: 32px;
    }
    .tep h2{
        font-size: 19px;
        margin-bottom: 40px;
    }
    .colr{
        height: 93px;
    }
    .gtyhd{
        height: 93px;
    }
    .tep p{
        height: 24%;
        font-size: 12px;
        margin-bottom: 13px;
    }
    .hgjk{
        padding: 13px;
        width: 43%;
    }
    .imghj img{
        margin-top: 36px;
    }
    .yire h3{
        font-size: 18px;
    }
    .yire{
        padding: 0 6px;
    }
    .ertw{
        font-size: 11px;
    }
    .titl p{
        font-size: 9px;
    }
    .gdhd{
        padding: 20px 0;
    }
    .mnjh p{
        font-size: 10px;
    }
    .mnjh h3{
        font-size: 16px;
    }
    .tho p{
        font-size: 9px;
        width: 98%;
    }
    .cartsd{
        gap: 20px;
    }
    .card1{
        width: 35%;
    }
    .card2{
        width: 33%;
    }
    .un .p{
        font-size: 13px;
    }
    .fkfjo p{
        font-size: 11px;
    }
    .opil{
        width: 23%;
        margin-left: 38%;
    }

}
@media (max-width: 768px){
    .logo{
        width: 33%;
    }
    .logo img{
        width: 50%;
    }
    .nav{
        width: 65%;
    }
    .nav a{
        padding: 0 1px;
        margin-left: 11px;
        font-size: 11px;
    }
    .uno{
        padding: 11% 7%;
    }
    .tex h2{
        font-size: 16px;
        margin-left: 31px;
    }
    .trr{
        width: 17%;
        margin: 0 0 7% 41%;
    }
    .tex p{
        font-size: 14px;
        margin: 0 0 23px 31px;
    }
    .butt{
        padding: 10px 16px;
        margin-bottom: 30px;
    }
    .car{
        width: 64%;
        height: 95vh;
    }
    .car input{
        margin: 14px 23px;
    }
    .car h4{
        font-size: 18px;
    }
    .init{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
    }
    .te{
        width: 61%;
    }
    .segundo p{
        font-size: 7px;
    }
    .segundo{
        gap: 30px;
    }
    .logoss{
        margin-right: 0;
    }
    .segundo h5{
        font-size: 13px;
    }
    .uy{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .tep h2{
        font-size: 13px;
        margin-bottom: 27px;
    }
    .tep p{
        height: auto;
        font-size: 11px;
        width: 105%;
    }
    .hgjk{
        width: 39%;
        font-size: 13px;
        padding: 11px 17px;
    }
    .colr{
        height: 77px;
    }
    .gtyhd{
        height: 77px;
    }
    .imghj{
        width: 56%;
    }
    .yire{
        width: 100%;
        padding: 8% 12%;
    }
    .inver{
        display: flex;
        flex-wrap: wrap;
    }
    .oplk img{
        margin-left: 36%;
    }
    .oplk{
        width: 64%;
    }
    .opl{
        justify-items: center;
        width: 100%;
    }
    .opl img{
        width: 71%;
        margin-left: 17%;
    }
    .riohjd{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 8% 16%;
    }
    .mnjh {
        width: 100%;
        margin-bottom: 34px;
    }
    .cartsd{
        gap: 33px;
        flex-wrap: wrap;
        padding: 7% 15%;
    }
    .divid h2{
        font-size: 27px;
    }
    .divid p{
        font-size: 11px;
    }
    .tho p{
        font-size: 13px;
    }
    .cards{
        flex-wrap: wrap;
    }
    .card1{
        width: 70%;
        margin-top: 30px;
    }
    .card2{
        width: 70%;
        margin-top: 30px;
    }
    .ocho h2{
        font-size: 20px;
    }
    .ocho p{
        font-size: 13px;
    }
    .fjehfwd{
        gap: 35px;
        flex-wrap: wrap;
    }
    .un{
        width: 71%;
    }
    .fkfjo h2{
        font-size: 22px;
    }
    .fkfjo p{
        font-size: 8px;
    }
    .ñploñ p{
        font-size: 15px;
    }
    .opil{
        width: 27%;
        font-size: 10px;
    }
    .idyd{
        padding: 5px;
    }
    .idyd img{
        width: 58%;
    }
    .idyd p{
        font-size: 13px;
    }

}
@media (max-width: 480px){
    .logo img{
        width: 40%;
    }
    .nav a{
        margin-left: 3px;
        font-size: 9px
    }
    .tex img{
        width: 42%;
    }
    .tex h2{
        font-size: 12px;
        margin-left: 22px;
    }
    .tex p{
        font-size: 10px;
        margin: 0 0 23px 18px;
    }
    .car{
        width: 75%;
        height: 76vh;
        margin-top: 0;
    }
    .car h4{
        font-size: 15px;
        padding: 16px 0 13px  0;
    }
    .car input{
        padding: 3px 13px;
    }
    .car button{
        padding: 11px;
    }
    .tab{
        width: 17%;
    }
    .tep h2{
        font-size: 8px;
    }
    .tep p{
        width: 98%;
        font-size: 8px;
    }
    .colr{
        height: 63px;

    }
    .gtyhd{
        height: 63px;
    }
    .hgjk{
        font-size: 8px;
    }
    .yire h3{
        font-size: 15px;
    }
    .ertw{
        font-size: 9px;
    }
    .titl p{
        font-size: 8px;
    }
}
@media (max-width: 480px){
    .car{
        width: 75%;
        height: 57vh;
    }
    .tho p{
        font-size: 10px;
    }
    .colr{
        font-size: 8px;
    }
    .gtyhd{
        font-size: 8px;
    }
    .pricing h2{
        font-size: 22px;
    }
    .pricing p{
        font-size: 11px;
        margin-bottom: 0;
    }
    .ocho h2{
        font-size: 17px;
    }
    .ocho p{
        font-size: 11px;
    }
    .fkfjo h2{
        font-size: 20px;
    }
    .fkfjo p{
        font-size: 10px;
        margin-left: 17px;
    }
    .colorr{
        width: 26%;
    }
    .buttt{
        padding: 9px 23px;
    }
    .ñploñ h2{
        font-size: 25px;
    }
    .ñploñ p{
        font-size: 11px;
    }
    .opil {
        width: 26%;
        font-size: 7px;
    }

}